@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@/assets/font/iconfont/iconfont.css';

body {
	/* color: #5e6e80;
	background: #f2f4fa; */
}
div {
	box-sizing: border-box;
}

.transition-in span {
	opacity: 1;
}

.main-title::after {
	content: '';
	background-color: #ff965d;
	border-radius: 0.5rem;
	position: absolute;
	bottom: -0.625rem;
	left: 0;
	width: 1rem;
	height: 0.1875rem;
	z-index: 1;
}
.main-title::before {
	content: '';
	background-color: #304cfd;
	border-radius: 0.5rem;
	position: absolute;
	left: 0;
	width: 3rem;
	height: 0.1875rem;
	bottom: -0.625rem;
	z-index: 1;
}

.task .task_title {
	font-size: 36rpx;
	font-weight: 600;
	color: #3c7df7;
	background: linear-gradient(-4deg, #82adff 0%, #3c7df7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	top: 20rpx;
	left: 43rpx;
}
.task .task_title::after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	font-size: 36rpx;
	font-weight: 400;
	-webkit-text-stroke: 8rpx #ffffff;
	text-stroke: 8rpx #ffffff;
	z-index: -1;
}
